body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f2f2f2;
}

header {
  background: #d32f2f;
  color: white;
  padding: 15px;
  text-align: center;
}

#news-container {
  padding: 15px;
}

.news {
  background: white;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

footer {
  text-align: center;
  padding: 10px;
  background: #333;
  color: white;
}
